<div><h1>Detailed Informations about <%= @airport_infos[:name] %> in <%= @airport_infos[:city] %> (<%= @airport_infos[:country] %>)</h1></div>
<div>
  <table>
  	<tr>
  		<th></th>
  		<th><%= @airport_infos[:name] %></th>
  	</tr>
  	<tr>
  		<td>IATA</td>
  		<td><%= @airport_infos[:iata] %></td>
  	</tr>
  	<tr>
  		<td>ICAO</td>
  		<td><%= @airport_infos[:icao] %></td>
  	</tr>
  	<tr>
  		<td>Latitude</td>
  		<td><%= @airport_infos[:latitude] %></td>
  	</tr>
  	<tr>
  		<td>Longitude</td>
  		<td><%= @airport_infos[:longitude] %></td>
  	</tr>
  	<tr>
  		<td>Altitude</td>
  		<td><%= @airport_infos[:altitude] %></td>
  	</tr>
  	<tr>
  		<td>Time zone</td>
  		<td><%= @airport_infos[:timezone] %></td>
  	</tr>
  </table>
</div>

<div>
	<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @airport_infos[:latitude] %>,<%= @airport_infos[:longitude] %>&zoom=13&size=400x400&maptype=hybrid&key=AIzaSyCwSphWJCzmNw6LlcDF3aFXnjQ1pmquXj8">
</div>

<% content_for :header_links do %>
  <form action="/FlightTrackApp/airports" method="get"><button type="submit">New Airport Research</button></a>
<% end %>

<!-- AIzaSyCwSphWJCzmNw6LlcDF3aFXnjQ1pmquXj8 (Google map API key) -->