<div><h1>Detailed Informations about <%= @airport_infos[:name] %> in <%= @airport_infos[:city] %> (<%= @airport_infos[:country] %>)</h1></div>
<div>
  <table>
  	<tr>
  		<th></th>
  		<th><%= @airport_infos[:name] %></th>
  	</tr>
  	<tr>
  		<td>IATA</td>
  		<td><%= @airport_infos[:iata] %></td>
  	</tr>
  	<tr>
  		<td>ICAO</td>
  		<td><%= @airport_infos[:icao] %></td>
  	</tr>
  	<tr>
  		<td>Latitude</td>
  		<td><%= @airport_infos[:latitude] %></td>
  	</tr>
  	<tr>
  		<td>Longitude</td>
  		<td><%= @airport_infos[:longitude] %></td>
  	</tr>
  	<tr>
  		<td>Altitude</td>
  		<td><%= @airport_infos[:altitude] %> ft</td>
  	</tr>
  	<tr>
  		<td>Time zone</td>
  		<td><%= @airport_infos[:timezone] %></td>
  	</tr>
  </table>
</div>

<div>
	<iframe src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCm-fNKdjRs0I-tsRVNZJshyA5qWfFsgng&center=<%= @airport_infos[:latitude] %>,<%= @airport_infos[:longitude] %>&zoom=14&maptype=satellite" width=800 height=500></iframe> 
</div>

<div>
  <textarea row=50 cols="50">
    <%= @summary %>
  </textarea>
</div>

<div><% @images_wikimedia.each do |image_url| %>
  <% if image_url.match(/.jpg/) %>
  <ul>
    <li>
      <img src="<%= image_url %>" width=200 height=140>
    </li>
  </ul>
  <% end %>
  <% end %>
  <p>Source : Wikipedia</p>
</div>

<% content_for :header_links do %>
  <form action="/FlightTrackApp/airports" method="get"><button type="submit">New Airport Research</button></a>
<% end %>