<section class="forms-input search">
  <form action="/FlightTrackApp/searchroute" method="post">
    <legend>Search Routes</legend>
    <div>
      <label for="flightfrom">Flight from:</label>
      <input id="flightfrom" type="search" name="from" placeholder="airport name or city" required />
    </div>

    <div>
      <label for="flightto">Flight to:</label>
      <input id="flightto" type="search" name="to" placeholder="airport name or city" required />
    </div>

    <div>
      <button type="submit">Take off</button>
    </div>
  </form>
</section>

<section>
  <% if @coordinate_to && @coordinate_from %>
    <div id="map"></div>
  <% end %>

  <script>

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: <%== @coordinate_midpoint.to_json %>,
        mapTypeId: 'terrain'
      });

      var marker1 = new google.maps.Marker({
        position: <%== @coordinate_from.to_json %>,
        map: map
      });

      var marker2 = new google.maps.Marker({
        position: <%== @coordinate_to.to_json %>,
        map: map       
      });

      var bounds = new google.maps.LatLngBounds();
      bounds.extend(marker1.getPosition());
      bounds.extend(marker2.getPosition());

      map.fitBounds(bounds);

      var flightPlanCoordinates = [
        <%== @coordinate_from.to_json %>,
        <%== @coordinate_to.to_json %>
      ];
      var flightPath = new google.maps.Polyline({
        path: flightPlanCoordinates,
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
      });

      flightPath.setMap(map);
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPQ2gVCPb7ymXg50xgVe-hRlFNPy_AWBs&callback=initMap">
  </script>
</section>

<script>
  $(document).ready(function() {
    $("#flightfrom").keyup(function() {

      $.getJSON("/autocomplete?airport=" + $(this).val(), function(data) {

        $("#flightfrom").autocomplete({
          source: data
        });
      });
    });

    $("#flightto").keyup(function() {

      $.getJSON("/autocomplete?airport=" + $(this).val(), function(data) {

        $("#flightto").autocomplete({
          source: data
        });
      });
    });
  });
</script>